<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.BookMapper">
    <resultMap id="bookList" type="Book">
        <id property="id" column="b_id"/>
        <result property="isbn" column="b_isbn"/>
        <result property="cover" column="b_cover"/>
        <result property="name" column="b_name"/>
        <result property="pages" column="b_pages"/>
        <result property="publisher" column="b_publisher"/>
        <result property="price" column="b_price"/>
        <association property="user" column="u_id" javaType="user">
            <id property="id" column="u_id"/>
            <result property="name" column="u_name"/>
            <result property="password" column="u_password"/>
            <result property="email" column="u_email"/>
        </association>
    </resultMap>


    <insert id="insertBook">
        insert into t_book(u_id,b_isbn,b_name,b_price,b_publisher,b_pages,b_cover) values(#{userId},#{book.isbn},#{book.name},#{book.price},#{book.publisher},#{book.pages},#{book.cover})
    </insert>
    <update id="updateBookAfter">
        update t_book set t_name=#{book.name},t_price=#{book.price},b_cover=#{cover},b_publisher=#{publisher},b_isbn=#{isbn},b_pages=#{pages}
    </update>

    <select id="updateBookFirst">
        select b_id as id,b_isbn as isbn,b_name as name,b_price as price,b_publisher as publisher,b_cover as cover,b_pages as pages from t_book where b_id=#{id}
    </select>

    <delete id="deleteBook">
        delete from t_book where b_id=#{id}
    </delete>
    <select id="getAllBookList" resultMap="bookList">
        select a.b_id,b.u_id,a.b_isbn,a.b_name,a.b_price,a.b_publisher,a.b_pages,a.b_cover,b.u_name,b.u_password from t_user b inner join t_book a on a.u_id=b.u_id
    </select>
    <select id="getAllBookListPage" resultType="org.example.bean.Book">
       select a.b_id,b.u_id,a.b_isbn,a.b_name,a.b_price,a.b_publisher,a.b_pages,a.b_cover,b.u_name,b.u_password from t_user b inner join t_book a on a.u_id=b.u_id limit ${param1},${param2}
    </select>
    <select id="getAllBookListPageBean" resultMap="bookList" parameterType="PageBean">
        select a.b_id,b.u_id,a.b_isbn,a.b_name,a.b_price,a.b_publisher,a.b_pages,a.b_cover,b.u_name,b.u_password from t_user b inner join t_book a on a.u_id=b.u_id limit ${beginCount} ,${count}
    </select>
    <select id="selectTotal" resultType="java.lang.Integer">
        select count(*) from t_book
    </select>
</mapper>